 .zmwebsdk-makeStyles-root-204{
    /* width :100% !important; */
    /* height:250px!important; */
 } 
 .zmwebsdk-makeStyles-root-54{
    height:80vh !important;
 } 

 .zmwebsdk-makeStyles-singleView-7 {
    width: 99vw !important;
}

.zmwebsdk-makeStyles-avatarList-53 {
    /* width: 100vw !important; */
}

.zmwebsdk-makeStyles-wrap-55 {
    width: 95vw !important;
}